<title>About Us</title>
<link rel="stylesheet" href="{{ style }}">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Good Samaritan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/volunteer">Volunteer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Find Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Who Are We</h1>
	<p><font size="5">Here at Good Samaritan, we strive to provide a reliable platform where people can donate or offer services to those in need. Our main
	source of assistance accompasses organizing resources and searching for public events that require the use of volunteers. 
	</font></p>
	
<h1>What Are We Trying to Accomplish</h1>
	<p><font size="5">Our main goal is making it easier for those in need to seek help. They have access to our list of available resources.
	</font></p>
<blockquote class="blockquote">
  <p class="mb-0"><font size="10">If we see someone who needs help, do we stop? There is so much suffering
  and poverty, and a great need for good Samaritans!"</font></p>
  <footer class="blockquote-footer">- Pope Francis in <cite title="Source Title">Dec 9, 2013 on Twitter</cite></footer>
</blockquote>
<style>
	body
		{
			background-color: rgba(204, 255, 204, 0.918);
		}
</style>
