<title>Good Samaritan</title>
<link rel="stylesheet" href="{{ style }}">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Good Samaritan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/volunteer">Volunteer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Find Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<center>
	<div class="jumbotron">
		<h1 class="display-5">Welcome to Good Samaritan!</h1>
	</div>
	<table>
		<tr>
			<td>
				<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
					<a href="/volunteer"style="color:white"><div class="card-header"><center>Register as a Volunteer</center></div></a>
					<div class="card-body">
					<h4 class="card-title">Listings for available times</h4>
					<p class="card-text">Find a time ticket on our calendar to find a specific task or time you want to sign up for.</p>
					</div>
				</div>
			</td>
			<td>
				<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
					<a href="/resources"style="color:white"><div class="card-header"><center>Looking for Assistance</center></div></a>
					<div class="card-body">
					<h4 class="card-title">What you can help you with</h4>
					<p class="card-text">Good Samaritan offers services ranging from volunteering and food kitchens for those in need</p>
					</div>
				</div>
			</td>
			<td>
				<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
					<a href="/about"style="color:white"><div class="card-header"><center>About us</center></div></a>
					<div class="card-body">
					<h4 class="card-title">Learn about our mission</h4>
					<p class="card-text">Some statistics and examples on how we help improve society one person at a time.</p>
					</div>
				</div>
			</td>
		</tr>
	</table>
</center>
<style>
	body
		{
			background-color: rgba(255, 204, 204, 0.918);
		}
</style>