<title>Good Samaritan</title>


<center>
	<h1>Welcome to the Good Samaritan Webservice</h1>
<link rel="stylesheet" href="css/flatly.css">
<table>
<tr>
<td>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Register as a Volunteer
  <div class="card-body">
    <h4 class="card-title">Listings for available times</h4>
    <p class="card-text">Find a time ticket on our calendar to find a specific time you want to sign up for.</p>
  </div>
</div>
</td>
<td>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Looking for Assistance</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</td>
<td>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Need Help?</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</td>
</tr>
</table>
</center>









<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Danger card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Warning card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Info card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Light card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>