<html>
<title>{{title}}</title>
<link rel="stylesheet" href="{{style}}">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Good Samaritan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:Red" href="/volunteer">Volunteer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#5ccaff" href="/resources">Resources</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:#21ffa8" href="/about">About Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
  <h1 class="display-3">{{info['name']}}</h1>
  <p class="lead">{{info['location']}}</p>
  <hr class="my-4">
  <p>{{info['description']}}</p>
  <p>{{info['contact']}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

</html>