<html>
<title>{{title}}</title>
<link rel="stylesheet" href="{{style}}">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Good Samaritan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"style="color:Red"href="/volunteer">Volunteer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"style="color:#5ccaff"href="/resources">Resources<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"style="color:#21ffa8"href="/about">About Us</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Location</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr class="table-default">
        	{% if is_res %}
            	<td><a href="/view-res?id={{ result['_id'] }}">{{result['name']}}</a></td>
            {% else %}
            	<td><a href="/view-vol/?id={{ result['_id'] }}">{{result['name']}}</a></td>
            {% endif %}
            <td>{{result['categories']}}</td>
            <td>{{result['location']}}</td>
            <td>{{result['contact']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Have a volunteer opportunity or community resource to share?</h2>
<form action="/submit/" method="post">
    <div class="form-group row">
        <label class="col-4 col-form-label" for="sub_type">Type of Submission</label>
        <div class="col-8">
            <select id="sub_type" name="sub_type" class="custom-select" required="required">
                <option value="vol_op">Volunteer Opportunity</option>
                <option value="res">Community Resource</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-4 col-form-label">Name of Organization/Event</label>
        <div class="col-8">
            <input id="name" name="name" type="text" required="required" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="category" class="col-4 col-form-label">Category</label>
        <div class="col-8">
            <input id="category" name="category" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group row">
        <label for="loc" class="col-4 col-form-label">Location</label>
        <div class="col-8">
            <input id="loc" name="loc" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-4 col-form-label">Contact Email</label>
        <div class="col-8">
            <input id="email" name="email" type="text" class="form-control" required="required">
        </div>
    </div>
    <div class="form-group row">
        <label for="descrip" class="col-4 col-form-label">Description</label>
        <div class="col-8">
            <textarea id="descrip" name="descrip" cols="40" rows="5" class="form-control" required="required"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>